resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: deployment1
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: sd171991/newproject:v1
